*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100vh;
  cursor: default;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid red;
  width: 100%;
  max-width: 700px;
  background-color: #fff;
  margin: 20px;
  padding: 20px;
}
.main-order {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid red;
  width: 100%;
  height: auto;
}
.order {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.order_abaut {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 50%;
}
.order_price {
  display: flex;
  align-self: center;
  justify-self: flex-start;
  width: 100%;
  height: 50%;
}
.img_order {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.img {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: unset;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-image: url(./img/pizza.jpg);
  width: 390px;
  height: 250px;
}
label {
  margin: 5px;
  bottom: 5px;
}

.hiden1 {
  width: 50%;
  height: 50%;
  background-color: rgba(213, 154, 154, 0.464);
}
.hiden2 {
  width: 50%;
  height: 50%;
  background-color: rgba(213, 154, 154, 0.464);
}
.hiden3 {
  width: 50%;
  height: 50%;
  background-color: rgba(213, 154, 154, 0.464);
}
.hiden4 {
  width: 50%;
  height: 50%;

  background-color: rgba(213, 154, 154, 0.464);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 20px;
  padding: 20px;
  border: 5px solid rgb(215, 237, 215);
}
.menu_list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 20%;
  width: 100%;
}
.column {
  border: 3px solid rgba(230, 209, 209, 0.418);
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.main_base {
  align-items: center;
  margin: 20px;
  font-size: 15px;
}
.main_meat {
  align-items: center;
  margin: 20px;
  font-size: 15px;
}
.main_vegitables {
  align-items: center;
  margin: 20px;
  font-size: 15px;
}
.main_souce {
  align-items: center;
  margin: 20px;
  font-size: 15px;
}
