*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100vh;
  cursor: default;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid red;
  width: 100%;
  max-width: 900px;
  background-color: #fff;
  margin: 20px;
  padding: 20px;
}
.main-order {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid red;
  width: 100%;
  height: auto;
}
.order {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.order_abaut {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 50%;
}
.order_price {
  display: flex;
  align-self: center;
  justify-self: flex-start;
  width: 100%;
  height: 50%;
}
.img_order {
  display: flex;
  align-items: centr;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.img {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-image: url(./img/pizza.jpg);
  justify-content: center;
  width: 250px;
  height: 250px;
}
.hiden1 {
  width: 50%;
  height: 50%;
  border: 3px solid red;
  background-color: rgba(15, 13, 13, 0.658);
}
.hiden2 {
  width: 50%;
  height: 50%;
  border: 3px solid red;
  background-color: rgba(15, 13, 13, 0.658);
}
.hiden3 {
  width: 50%;
  height: 50%;
  border: 3px solid red;
  background-color: rgba(15, 13, 13, 0.658);
}
.hiden4 {
  width: 50%;
  height: 50%;
  border: 3px solid red;
  background-color: rgba(15, 13, 13, 0.658);
}
.footer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 20px;
  border: 5px solid green;
}
.menu_list {
}
.main_base {
}
.main_meat {
}
.main_vegitables {
}
.main_souce {
}
